{% extends "personal/header.html" %}
{% block title %}Liquidate Form{% endblock %}
{% block content %}
    {% if user.is_authenticated %}
        <div class="container-fluid">
            <div class="row">
                <div class="col-sm-12 col-md-7">
                    <div class="panel panel-default">
                        <div class="panel-body">
                        <h3>Liquidate Portfolio</h3>
                            <h5>Enter password to liquidate portfolio</h5>
                            {% if error_message %}
                                <p><strong>{{error_message|safe|linebreaks}}</strong></p>
                            {% endif %}
                            <form class="form-horizontal" method="post" enctype="multipart/form-data">
                                {% csrf_token %}
                                {% include 'personal/form-template.html' %}
                                <div class="form-group">
                                    <div class="col-sm-offset-2 col-sm-10">
                                        <button type="submit" class="btn btn-success">Liquidate</button>
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    {% else %}
        <div class="center-text">
            <h3>
                You're not logged in! Log in to access this page.
            </h3>
        </div>

    {% endif %}
{% endblock %}