@charset "UTF-8";

p {
    max-width: 70%
}

ul {
    list-style: none;
    margin-left: 0;
    padding-left: 0;
}

li {
    padding-left: 1em;
    text-indent: -1em;
}

li:before {
    content: "~";
    padding-right: 5px;
}
